* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

button {
    padding: 7px;
    cursor: pointer;
}

button:hover {
    opacity: .6;
}

a {
    margin-top: 10px;
}

label {
    cursor: pointer;
}