* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.wrapper {
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-template-areas:
        'label-login'
        'login'
        'label__password--check'
        'check-password'
        'label__password'
        'password'
        'label-language'
        'language'
        'button';
    /* grid-template-areas:
        'label-login label-login'
        'login login'
        'label__password--check label__password--check'
        'check-password password'
        'label-language label-language'
        'language language'
        'button button'; */
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

#button {
    grid-area: button;
    padding: 7px;
    cursor: pointer;
}

button:hover {
    opacity: .6;
}

a {
    margin-top: 10px;
}

label {
    cursor: pointer;
}

#label__login {
    grid-area: label-login;
}

#login {
    grid-area: login;
}

#label__password--check {
    grid-area: label__password--check;
}

#check-password {
    grid-area: check-password;
}

#label__password {
    grid-area: label__password;
}

#password {
    grid-area: password;
}

#label__language {
    grid-area: label-language;
}

#language {
    grid-area: language;
}

@media screen and (min-width: 540px) {
    form {
        grid-template-areas:
            'label-login label-login'
            'login login'
            'label__password--check label__password--check'
            'check-password password'
            'label-language label-language'
            'language language'
            'button button';
        max-width: 500px;
    }

    #label__password {
        grid-area: label__password;
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    form {
        gap: 20px;
    }
}